<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Login</title>
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-4"></div>
        <div class="col-lg-4">
            <form method="post" th:action="@{/login}">
                <h2>Please Sign in</h2>
                <div class="form-group">
                    <input type="email" class="form-control" name="j_userEmail">
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" name="j_password">
                </div>
                <button type="submit" class="btn btn-lg btn-primary btn-block">Sign In</button>
            </form>
        </div>
        <div class="col-lg-4"></div>
    </div>
</div>

</body>
</html>